

body{
  background-color: grey;
}
.banner{
  background-attachment:fixed;
  /* background-position: center; /* Center the image */ */
  min-height: 500px;
  background-repeat: no-repeat; /* Do not repeat the image */
  /* background-size: cover; /* Resize the background image to cover the entire container */ */

}
