@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Dancing+Script:wght@500&family=Inconsolata:wght@500&family=Lobster+Two:ital@1&family=Quicksand:wght@500&display=swap');
@media (prefers-color-scheme: dark) {
:root{ /*NOTE: Make all light theme changes here.*/
  --background-color: grey;
  --base-color: #666666DD;
  --toolbar-color: #666666DD;
  --toolbar-font-color: white;
  --foreground-color: white;
  --foreground-header-color: white;
  --button-color: #567859;
  --accent-color: #50684D;

  --background-image: ;
  --background-image-attachment: fixed;
  --base-background-image: ;
  --base-background-image-attachment: fixed;
  --box-shadow: 0px 0px 4px 1px #332f2f88;

  --border-radius: 50px;
  --border-width: 0px;
  --border-color: #3D583C;
  --hover-color: #DCCA0488; /*Base color, but slightly lighter*/
  --focus-border-color: #3E3E3E; /*Border color, but a little lighter*/
  --active-color: #5B190BCC; /*Background color, but darker*/

  /* Google Fonts imported:
    font-family: 'Chilanka', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lobster Two', cursive;
    font-family: 'Quicksand', sans-serif;*/
  --font-family-header: 'Lobster Two', cursive;
  --font-family-body: 'Quicksand', sans-serif;
  --font-family-code: 'Inconsolata', monospace;
}
::selection{
  text-decoration: underline;
}
}
@media (prefers-color-scheme: light) {
  :root{ /*NOTE: Make all dark theme changes here.*/
    --background-color: white;
    --base-color: lightgrey;
    --toolbar-color: #666666DD;
    --toolbar-font-color: white;
    --foreground-color: black;
    --foreground-header-color: lightgrey;
    --button-color: #567859;
    --accent-color: #50684D;

    --background-image: ;
    --background-image-attachment: fixed;
    --base-background-image: ;
    --base-background-image-attachment: fixed;
    --box-shadow: 0px 0px 4px 1px #332f2f88;

    --border-radius: 50px;
    --border-width: 0px;
    --border-color: #3D583C;
    --hover-color: #DCCA0488; /*Base color, but slightly lighter*/
    --focus-border-color: #3E3E3E; /*Border color, but a little lighter*/
    --active-color: #5B190BCC; /*Background color, but darker*/

    /* Google Fonts imported:
      font-family: 'Chilanka', cursive;
      font-family: 'Dancing Script', cursive;
      font-family: 'Inconsolata', monospace;
      font-family: 'Lobster Two', cursive;
      font-family: 'Quicksand', sans-serif;*/
    --font-family-header: 'Lobster Two', cursive;
    --font-family-body: 'Quicksand', sans-serif;
    --font-family-code: 'Inconsolata', monospace;
  }
  ::selection{
    text-shadow: 2px 2px var(--base-color);
  }
}

.banner{
  background-color: var(--accent-color);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.four0four{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height:100%;
  background:linear-gradient(0deg, rgb(80, 104, 77) 3%, rgb(128, 128, 128) 100%);
}
